# Data Wrangling - La cirugía de los datos


El **data wrangling**, a veces denominada **data munging**, es el proceso de transformar y mapear datos de un dataset raw en otro formato con la intención de hacerlo más apropiado y valioso para una variedad de propósitos posteriores, como el análisis. Un **data wrangler** es una persona que realiza estas operaciones de transformación.


Esto puede incluir munging, visualización de datos, agregación de datos, entrenamiento de un modelo estadístico, así como muchos otros usos potenciales. La oscilación de datos como proceso generalmente sigue un conjunto de pasos generales que comienzan extrayendo los datos de forma cruda del origen de datos, dividiendo los datos en bruto usando algoritmos (por ejemplo, clasificación) o analizando los datos en estructuras de datos predefinidas, y finalmente depositando el contenido resultante en un sistema de almacenamiento (o silo) para su futuro uso.


*Fuente:* [wikipedia](https://en.wikipedia.org/wiki/Data_wrangling)

In [112]:
import pandas as pd

In [113]:
data = pd.read_csv("../datasets/customer-churn-model/Customer Churn Model.csv")

In [114]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

### Crear un subconjunto de datos
#### Filtrado de columnas

In [115]:
account_length = data["Account Length"] #si uso 2 corchetes como abajo y sera DataFrame

In [116]:
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [117]:
type(account_length)

pandas.core.series.Series

In [118]:
subset = data[["Account Length", "Phone", "Eve Charge", "Day Calls"]]

In [119]:
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [120]:
type(subset)

pandas.core.frame.DataFrame

In [121]:
desired_columns = ["Account Length", "Phone", "Eve Charge", "Night Calls"]
subset = data[desired_columns]
subset.head()

   Account Length     Phone  Eve Charge  Night Calls
0             128  382-4657       16.78           91
1             107  371-7191       16.62          103
2             137  358-1921       10.30          104
3              84  375-9999        5.26           89
4              75  330-6626       12.61          121

In [122]:
desired_columns = ["Account Length", "VMail Message", "Day Calls"]
desired_columns

['Account Length', 'VMail Message', 'Day Calls']

In [123]:
all_columns_list = data.columns.values.tolist()
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [124]:
#extraigo la lista no deseada
sublist = [x for x in all_columns_list if x not in desired_columns]
sublist

['State',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [125]:
subset = data[sublist]
subset.head()

,State,Area Code,Phone,Int'l Plan,VMail Plan,Day Mins,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,382-4657,no,yes,265.1,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,415,371-7191,no,yes,161.6,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,415,358-1921,no,no,243.4,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,408,375-9999,yes,no,299.4,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,415,330-6626,yes,no,166.7,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

### Otra forma de hacer lo mismo

In [126]:
full_list = set(all_columns_list)
full_list

{'Account Length',
 'Area Code',
 'Churn?',
 'CustServ Calls',
 'Day Calls',
 'Day Charge',
 'Day Mins',
 'Eve Calls',
 'Eve Charge',
 'Eve Mins',
 "Int'l Plan",
 'Intl Calls',
 'Intl Charge',
 'Intl Mins',
 'Night Calls',
 'Night Charge',
 'Night Mins',
 'Phone',
 'State',
 'VMail Message',
 'VMail Plan'}

In [127]:
sublist = set(desired_columns) #columnas q quiero quitar
sublist

{'Account Length', 'Day Calls', 'VMail Message'}

In [128]:
result = full_list - sublist

In [129]:
result = set(result)
result

{'Area Code',
 'Churn?',
 'CustServ Calls',
 'Day Charge',
 'Day Mins',
 'Eve Calls',
 'Eve Charge',
 'Eve Mins',
 "Int'l Plan",
 'Intl Calls',
 'Intl Charge',
 'Intl Mins',
 'Night Calls',
 'Night Charge',
 'Night Mins',
 'Phone',
 'State',
 'VMail Plan'}

### Filtrado de filas con operaciones lógicas

In [130]:
data.shape

(3333, 21)

In [131]:
## Usuarios con Day Mins > 300
data1 = data[data["Day Mins"]>300]
data1.shape

(43, 21)

In [132]:
## Usuarios de Nueva York (State = "NY")
data2 = data[data["State"] == "NY"]
data2.shape

(83, 21)

In [133]:
##AND -> &
data3 = data[(data["Day Mins"] > 300) & (data["State"] == "NY")]
data3.shape

(2, 21)

In [134]:
##OR -> |
data4 = data[(data["Day Mins"] > 300) | (data["State"] == "NY")]
data4.shape

(124, 21)

In [135]:
##XOR -> ^
data5 = data[(data["Day Mins"] > 300) ^ (data["State"] == "NY")]
data5.shape

(122, 21)

In [136]:
data6 = data[data["Day Calls"] < data["Night Calls"]]
data6.shape

(1626, 21)

### Filtrado combinado de columnas y filas

In [137]:
##Minutos de día, de noche y Longitud de la Cuenta de los primeros 50 individuos
##primero columnas y luego filas
subset_first_50 = data[["Day Mins", "Night Mins", "Account Length"]][:50]
subset_first_50.head()

   Day Mins  Night Mins  Account Length
0     265.1       244.7             128
1     161.6       254.4             107
2     243.4       162.6             137
3     299.4       196.9              84
4     166.7       186.9              75

## Otra forma

**.loc** for label based indexing or **.iloc** for positional indexing

*primero filas y luego columnas*

In [138]:
## Las 10 primeras filas para las columnas entre la 3 y la 6
## el indice comienza en 0, por lo que la tercer columna es la de indice 2
data.iloc[:10, 2:6]

   Area Code     Phone Int'l Plan VMail Plan
0        415  382-4657         no        yes
1        415  371-7191         no        yes
2        415  358-1921         no         no
3        408  375-9999        yes         no
4        415  330-6626        yes         no
5        510  391-8027        yes         no
6        510  355-9993         no        yes
7        415  329-9001        yes         no
8        408  335-4719         no         no
9        415  330-8173        yes        yes

#### Indexado por numero

In [139]:
## las columnas 2, 5 y 7
data.iloc[:10, [2, 5, 7]]

   Area Code VMail Plan  Day Mins
0        415        yes     265.1
1        415        yes     161.6
2        415         no     243.4
3        408         no     299.4
4        415         no     166.7
5        510         no     223.4
6        510        yes     218.2
7        415         no     157.0
8        408         no     184.5
9        415        yes     258.6

#### Indexado por nombre

In [140]:
data.loc[:10, ["Area Code", "VMail Plan", "Day Mins"]]

    Area Code VMail Plan  Day Mins
0         415        yes     265.1
1         415        yes     161.6
2         415         no     243.4
3         408         no     299.4
4         415         no     166.7
5         510         no     223.4
6         510        yes     218.2
7         415         no     157.0
8         408         no     184.5
9         415        yes     258.6
10        415         no     129.1

## Crear columna resultante de otras

In [141]:
data.shape

(3333, 21)

In [142]:
data["Total Mins"] = data["Day Mins"] + data["Night Mins"] + data["Eve Mins"]
data["Total Mins"].head()

0    707.2
1    611.5
2    527.2
3    558.2
4    501.9
Name: Total Mins, dtype: float64

In [143]:
data["Total Calls"] = data["Day Calls"] + data["Night Calls"] + data["Eve Calls"]
data["Total Calls"].head()

0    300
1    329
2    328
3    248
4    356
Name: Total Calls, dtype: int64

In [144]:
data.shape

(3333, 23)

In [145]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Total Mins,Total Calls
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,244.7,91,11.01,10.0,3,2.70,1,False.,707.2,300
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,254.4,103,11.45,13.7,3,3.70,1,False.,611.5,329
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,162.6,104,7.32,12.2,5,3.29,0,False.,527.2,328
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,196.9,89,8.86,6.6,7,1.78,2,False.,558.2,248
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,186.9,121,8.41,10.1,3,2.73,3,False.,501.9,356

### Generación aleatoria de números